<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultClass</key>
	<array>
		<dict>
			<key>headerTitle</key>
			<string></string>
			<key>footerTitle</key>
			<string></string>
			<key>headerHeight</key>
			<integer>20</integer>
			<key>footerHeight</key>
			<integer>20</integer>
			<key>data</key>
			<array>
				<dict>
					<key>title</key>
					<string>清扫吸力</string>
					<key>subTitle</key>
					<string>M@cleanState</string>
					<key>isAccessory</key>
					<integer>1</integer>
					<key>isSiwtch</key>
					<integer>0</integer>
					<key>didSelectorName</key>
					<string>R@router://CleanStatusViewController</string>
					<key>switchSelectorName</key>
					<string></string>
					<key>cellForRowIndexSelectorName</key>
					<string>M@cleanTypeStatus:cellForRowAtIndexPath:cellInfo:cell:</string>
				</dict>
				<dict>
					<key>title</key>
					<string>清扫预约</string>
					<key>subTitle</key>
					<string></string>
					<key>isAccessory</key>
					<integer>1</integer>
					<key>isSiwtch</key>
					<integer>0</integer>
					<key>didSelectorName</key>
					<string>R@router://CleanTimingViewController</string>
					<key>switchSelectorName</key>
					<string></string>
					<key>cellForRowIndexSelectorName</key>
					<string>M@tableView:cellForRowAtIndexPath:cellInfo:cell:</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>headerTitle</key>
			<string></string>
			<key>footerTitle</key>
			<string></string>
			<key>footerHeight</key>
			<integer>20</integer>
			<key>headerHeight</key>
			<integer>20</integer>
			<key>data</key>
			<array>
				<dict>
					<key>title</key>
					<string>清扫日志</string>
					<key>subTitle</key>
					<string></string>
					<key>isAccessory</key>
					<integer>1</integer>
					<key>isSiwtch</key>
					<integer>0</integer>
					<key>didSelectorName</key>
					<string>R@router://CleanLogViewController</string>
					<key>switchSelectorName</key>
					<string></string>
					<key>cellForRowIndexSelectorName</key>
					<string>M@tableView:cellForRowAtIndexPath:cellInfo:cell:</string>
				</dict>
				<dict>
					<key>title</key>
					<string>耗材计时</string>
					<key>subTitle</key>
					<string></string>
					<key>isAccessory</key>
					<integer>1</integer>
					<key>isSiwtch</key>
					<integer>0</integer>
					<key>didSelectorName</key>
					<string>R@router://CleanLogViewController</string>
					<key>switchSelectorName</key>
					<string></string>
					<key>cellForRowIndexSelectorName</key>
					<string>M@tableView:cellForRowAtIndexPath:cellInfo:cell:</string>
				</dict>
				<dict>
					<key>title</key>
					<string>重命名</string>
					<key>subTitle</key>
					<string>M@robotName</string>
					<key>isAccessory</key>
					<integer>1</integer>
					<key>isSiwtch</key>
					<integer>0</integer>
					<key>didSelectorName</key>
					<string>R@router://重命名</string>
					<key>switchSelectorName</key>
					<string></string>
					<key>cellForRowIndexSelectorName</key>
					<string>M@tableView:cellForRowAtIndexPath:cellInfo:cell:</string>
				</dict>
				<dict>
					<key>title</key>
					<string>使用帮助</string>
					<key>subTitle</key>
					<string></string>
					<key>isAccessory</key>
					<integer>1</integer>
					<key>isSiwtch</key>
					<integer>0</integer>
					<key>didSelectorName</key>
					<string>M@findDevice</string>
					<key>switchSelectorName</key>
					<string></string>
					<key>cellForRowIndexSelectorName</key>
					<string>M@tableView:cellForRowAtIndexPath:cellInfo:cell:</string>
				</dict>
				<dict>
					<key>title</key>
					<string>地宝信息</string>
					<key>subTitle</key>
					<string></string>
					<key>isAccessory</key>
					<integer>1</integer>
					<key>isSiwtch</key>
					<integer>0</integer>
					<key>didSelectorName</key>
                    <string>R@router://RobotInfoViewController</string>
					<key>switchSelectorName</key>
					<string></string>
					<key>cellForRowIndexSelectorName</key>
					<string>M@tableView:cellForRowAtIndexPath:cellInfo:cell:</string>
				</dict>
				<dict>
					<key>title</key>
					<string>故障告警</string>
					<key>subTitle</key>
					<string></string>
					<key>isAccessory</key>
					<integer>1</integer>
					<key>isSiwtch</key>
					<integer>0</integer>
					<key>didSelectorName</key>
					<string>R@router://WarningListViewController</string>
					<key>switchSelectorName</key>
					<string></string>
					<key>cellForRowIndexSelectorName</key>
					<string>M@tableView:cellForRowAtIndexPath:cellInfo:cell:</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>headerTitle</key>
			<string></string>
			<key>footerTitle</key>
			<string></string>
			<key>footerHeight</key>
			<integer>0</integer>
			<key>headerHeight</key>
			<integer>20</integer>
			<key>data</key>
			<array>
				<dict>
					<key>title</key>
					<string>寻找地宝</string>
					<key>subTitle</key>
					<string></string>
					<key>isAccessory</key>
					<integer>0</integer>
					<key>isSiwtch</key>
					<integer>0</integer>
					<key>didSelectorName</key>
					<string>M@findDevice</string>
					<key>switchSelectorName</key>
					<string></string>
					<key>cellForRowIndexSelectorName</key>
					<string>M@tableView:cellForRowAtIndexPath:cellInfo:cell:</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>DF35DeviceName</key>
	<array>
		<dict>
			<key>headerTitle</key>
			<string></string>
			<key>footerTitle</key>
			<string></string>
			<key>headerHeight</key>
			<integer>20</integer>
			<key>footerHeight</key>
			<integer>20</integer>
			<key>data</key>
			<array>
				<dict>
					<key>title</key>
					<string>清扫吸力</string>
					<key>subTitle</key>
					<string>M@cleanState</string>
					<key>isAccessory</key>
					<integer>1</integer>
					<key>isSiwtch</key>
					<integer>0</integer>
					<key>didSelectorName</key>
					<string>R@router://工作设置</string>
					<key>switchSelectorName</key>
					<string></string>
					<key>cellForRowIndexSelectorName</key>
					<string>M@cleanTypeStatus:cellForRowAtIndexPath:cellInfo:cell:</string>
				</dict>
				<dict>
					<key>title</key>
					<string>清扫预约</string>
					<key>subTitle</key>
					<string></string>
					<key>isAccessory</key>
					<integer>1</integer>
					<key>isSiwtch</key>
					<integer>0</integer>
					<key>didSelectorName</key>
					<string>R@router://清扫预约</string>
					<key>switchSelectorName</key>
					<string></string>
					<key>cellForRowIndexSelectorName</key>
					<string>M@tableView:cellForRowAtIndexPath:cellInfo:cell:</string>
				</dict>
				<dict>
					<key>title</key>
					<string>清扫日志</string>
					<key>subTitle</key>
					<string></string>
					<key>isAccessory</key>
					<integer>1</integer>
					<key>isSiwtch</key>
					<integer>0</integer>
					<key>didSelectorName</key>
					<string>R@router://清扫日志</string>
					<key>switchSelectorName</key>
					<string></string>
					<key>cellForRowIndexSelectorName</key>
					<string>M@tableView:cellForRowAtIndexPath:cellInfo:cell:</string>
				</dict>
				<dict>
					<key>title</key>
					<string>耗材计时</string>
					<key>subTitle</key>
					<string></string>
					<key>isAccessory</key>
					<integer>1</integer>
					<key>isSiwtch</key>
					<integer>0</integer>
					<key>didSelectorName</key>
					<string>R@router://耗材计时</string>
					<key>switchSelectorName</key>
					<string></string>
					<key>cellForRowIndexSelectorName</key>
					<string>M@tableView:cellForRowAtIndexPath:cellInfo:cell:</string>
				</dict>
				<dict>
					<key>title</key>
					<string>重命名</string>
					<key>subTitle</key>
					<string>M@robotName</string>
					<key>isAccessory</key>
					<integer>1</integer>
					<key>isSiwtch</key>
					<integer>0</integer>
					<key>didSelectorName</key>
					<string>R@router://重命名</string>
					<key>switchSelectorName</key>
					<string></string>
					<key>cellForRowIndexSelectorName</key>
					<string>M@tableView:cellForRowAtIndexPath:cellInfo:cell:</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>headerTitle</key>
			<string></string>
			<key>footerTitle</key>
			<string></string>
			<key>data</key>
			<array>
				<dict>
					<key>title</key>
					<string>寻找地宝</string>
					<key>subTitle</key>
					<string></string>
					<key>isAccessory</key>
					<integer>1</integer>
					<key>isSiwtch</key>
					<integer>0</integer>
					<key>didSelectorName</key>
					<string>M@findDevice</string>
					<key>switchSelectorName</key>
					<string></string>
					<key>cellForRowIndexSelectorName</key>
					<string>M@tableView:cellForRowAtIndexPath:cellInfo:cell:</string>
				</dict>
				<dict>
					<key>title</key>
					<string>定时预约</string>
					<key>subTitle</key>
					<string></string>
					<key>isAccessory</key>
					<integer>0</integer>
					<key>isSiwtch</key>
					<integer>1</integer>
					<key>didSelectorName</key>
					<string></string>
					<key>switchSelectorName</key>
					<string>M@closeSched:</string>
					<key>cellForRowIndexSelectorName</key>
					<string>M@schedClosed:cellForRowAtIndexPath:cellInfo:cell:</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
